* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

/* .scontainer{
  display: grid;
  grid-template-columns: 50% 50%;
} */

.phone
{
  margin-top: 25%;
  transform: scale(2);
}

.phone:hover {
  transform: scale(2.5);
  transition: 500ms;
}

.scooter{
  top: 250px;
  right: -100px;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: slide-in2;
}

/* .scooter:hover{
  right: -200px;
  transition: 200ms;
} */

.books{
  top: 150px;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: slide-in;
}

.hero-section{
background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 200% 100%; 
  animation: move 12s ease-in-out infinite;

}

.cstm-font{
  font-family: "Kanit", sans-serif
}

.bg-books{
  background-image: url("./pexels-mccutcheon-1148399.jpg");
  background-size: cover;
}

.bg-uniform{
  background-image: url("./pexels-thirdman-8926544.jpg");
  background-size: cover;
}

.bg-stationary{
  background-image: url("./pexels-punttim-53874.jpg");
  background-size: cover;
}

.bg-exams{
  background-image: url("./pexels-cottonbro-4778667.jpg");
  background-size: cover;
}

.offer-item-container{
  align-self: center;
}


@keyframes slide-in {
  from {
    translate: 10vw 5vw;
    scale: 100% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

@keyframes slide-in2 {
  from {
    translate: 10vw 0vw;
    scale: 100% 1;
  }

  to {
    translate: 0 5vw;
    scale: 100% 1;
  }
}

@keyframes move{
  0%{
    background-position: 0% 50%;
  }

  50%{
    background-position: 100% 50%;
  }

  100%{
    background-position: 0% 50%;
  }
}






